php_value max_input_vars 100000

RewriteEngine On
#RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/$1    [L]

    RewriteRule    ^$    blog/    [L]
    #RewriteRule    (.*) blog/$1    [L]

    RewriteRule    ^$    transferadmin/    [L]
    RewriteRule    (.*) transferadmin/$1    [L]
    
 </IfModule>
