@font-face {
    font-family: "Gotham-Black";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Book";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Medium";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Thin";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Thin.woff") format("woff"), url("../fonts/Gotham-Thin.ttf") format("truetype"), url("../fonts/Gotham-Thin.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Ultra";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Ultra.woff") format("woff"), url("../fonts/Gotham-Ultra.ttf") format("truetype"), url("../fonts/Gotham-Ultra.svg") format("svg");
}

body{
	background: url('../img/background.png');
	height: 100%;
	width: 100%;
    background-size: cover;
}
.logo{
    position: absolute;
    left: 4.75em;
    top: 0.5em;
    cursor: pointer;
}
.uploader__empty-state {
    padding-top: 0;
    min-height: 7.938em;
    position: relative;
}

.uploader__empty-state svg {
    margin: 0 0.625em 0 1.25em;
    height: 2.25em;
    width: 2.25em;
    top: 3.5em;
    position: absolute;
}
.uploader__empty-state h2 {
    position: absolute;
    left: 3.4em;
    top: 2em;
}
.uploader__empty-state  p {
    left: 6.5em;
    top: 6em;
    position: absolute;
    font-weight: 400;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    line-height: 1;
    font-size: 0.8125em;
    color: #919599;
    width: 120px;
}
.navbar-fixed-top, .navbar-fixed-bottom{
    z-index: 9;
}
.overlay {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.75;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.no-margin{
    margin:0; 
}
.gurutransfer .header {
    background: rgba(0, 0, 0, 0) url("../img/gurubackground.png") repeat scroll 0 0;
    height: 220px;
    width: 157px;
}
.gurutransfer .transferbody {
    background:#FFFFFF;
    position:absolute;
    z-index:40;
    border-radius:10px;
    box-shadow:0 0 12px 0 rgba(0,0,0,0.1),0 10px 30px 0 rgba(0,0,0,0.2);
    -webkit-transition:-webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition:-webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition:transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition:transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),-webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    margin:-12.8125em 0 0;
    height:25.625em;
    width:17.5em;
    left:5em;
    top:50%;
}
#uploadform {
    max-height: 308px;
    overflow: scroll;
}
.upload-panel {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    padding: 2px 8px;
    width: 100%;
}
.gurutransfer h2 {
    font: 15px gotham-bold;
    margin: 9px 0;
    text-align: center;
    width: 120px;
}
.button ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}
.add-files-block .button ul > li {
    float: left;
    font: 11px Gotham-Bold;
}
.add-files-block, .friend-email-block, .my-email-block, .friend-password-block {
    border-bottom: 1px solid #d1d1d2;
    padding: 8px 0;
}
.friend-email-block input, .my-email-block input, .friend-password-block input{
	border: medium none;
	width: 100%;
    padding: 0 7px;
    outline: none;
}
.message textarea {
    border: medium none;
    height: 60px;
    margin: 8px 0 0;
    padding: 3px 0 0 8px;
    width: 100%;
    resize: none;
    outline: none;
}
.share-and-transfer {
    padding: 0 0 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #D4D7D9;
    box-shadow: 0px -5px 9px -3px #d4d7d9;
}
.share-and-transfer .share {
    background: #fff url("../img/button-app-icon-share.png") repeat scroll 0 0;
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 0 15px;
    width: 32px;
    float: left;
    cursor: pointer;
}
.share-and-transfer .info {
	background: #fff url("../img/button-app-icon-help.png") repeat scroll 0 0;
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 0;
    width: 32px;	
    float: left;
    cursor: pointer;
}
.share-and-transfer .addpassword {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #646769;
    cursor: pointer;
    float: left;
    font-size: 20px;
    height: 32px;
    margin: 8px 0 0;
    padding: 2px 0 0 9px;
    width: 32px;
}
.share-and-transfer .transfer {
    background: #F9AA3E none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    float: left;
    font-size: 13px;
    line-height: 31px;
    margin: 9px 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    border: none;
    float: left;
    height: 32px;
    font-weight: bold;
}
.status {
    background: #fff none repeat scroll 0 0;
    position: absolute;
    text-align: center;
    top: 218px;
    width: 157px;
    z-index: 99;
    border-radius: 0 0 5px 5px;
    border: 3px solid #f9ab30;
    min-height: 259px;
}
.status .c100 {
    left: 14px;
    margin-top: 36px;
}
.transfer-done .transfer {
    font: 15px gotham-bold;
}
.transfer-done .small {
    color: #acacac;
    font: 11px gotham-book;
    margin: 5px 0;
}
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    background-color: #464850;
    height: 36px;
    left: 15px;
    position: absolute;
    top: -9px;
    width: 7px;
}

.checkmark_kick {
    background-color: #464850;
    height: 7px;
    left: -1px;
    position: absolute;
    top: 26px;
    width: 23px;
}
.upload-wrap-btn-Change {
    border-radius: 17px;
    overflow: hidden;
    padding: 8px 10px 4px;
    position: relative;
    cursor: pointer;
}
.upload-wrap-btn-Change > input {
    cursor: pointer;
    height: 27px;
    margin: 0 0 0 -10px;
    opacity: 0;
    position: absolute;
    top: 0;
}
.c100 > span.loading{
	display: block;
}
.c100 > span.tickmark{
	display: none;
}
.button ul.files > li {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    font: 12px/21px gotham-book;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    position: relative;
    padding: 0 18px 0 0;
}
#info_panel::after, #error_panel::after, #tip_panel::after {
    background: transparent url("../img/info-panel-pointer.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 19px;
    left: -11px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 11px;
}
#info_panel, #error_panel, #tip_panel {
    background: #46494e none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: gotham-book;
    left: 219px;
    padding: 25px 15px 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 138px;
    z-index: 2;
}
.bigImages ul {
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.bigImages img {
    max-height: 100%;
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #fff;
    border: 1px solid #a1a1a1;
    color: #000;
}
.navbar-nav > li > a {
    border-radius: 33px;
    padding-bottom: 10px;
    padding-top: 9px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    margin-top: 20px;
}
.navbar-nav > li {
    background: #fff none repeat scroll 0 0;
    border-radius: 33px;
    margin: 0 0 0 15px;
    opacity: 0.8;
}
.content.row {
    background: #fff none repeat scroll 0 0;
    margin-top: 50px;
}
.bigImages li{
    margin-top: -21px;
}
.slider {
    height: 100%;
    position: absolute;
    width: 100%;
}
.files {
    max-height: 61px;
    position: relative;
}
.friend-email-block input:focus, .friend-password-block input:focus, .my-email-block input:focus, .message textarea:focus {
    background: #ccc none repeat scroll 0 0;
    border-radius: 10px;
}
.closeli {
    position: absolute;
    right: 8px;
    top: -6px;
    cursor: pointer;
}
.add-files-block {
    margin: 0;
    padding: 0 0 8px;
}
.btn.btn-warning {
    border: medium none;
    border-radius: 16px;
    color: #000;
    font: 12px gotham;
    padding: 5px;
    margin: 5px 0 0;
}
.add_more_email > input {
    margin: 2px 0;
}

.my-expire-block {
    border-bottom: 1px solid #d1d1d2;
}

.my-expire-block select {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    margin: 10px 0;
    width: 100%;
    color: #888;
}

.share-and-transfer .transfer:hover {
    background: #646769 none repeat scroll 0 0;
    color: #fff;
}
.plus-panel {
    left: -62px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: -9;
}
.plus-panel .panel2.panelp {
    border: 1px solid #8d8f8f;
    margin: -73px 0 0 -18px;
    padding: 0 7px 0 21px;
    border-bottom: none;
}
.plus-panel .panelp {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 11px 11px 0 0;
    color: #8e8c8c;
    float: left;
    margin: 0;
    padding: 0 10px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.plus-panel .panel1.panelp {
    background: #b3b3b3 none repeat scroll 0 0;
    color: #fff;
    margin: 35px 0 0;
}
span.button_area_new{
    font: 11px Gotham-Bold;
    text-transform: uppercase;
}
.btn.btn-warning {
    font: 11px Gotham-Medium;
}
.overlay-data {
    position: absolute;
    z-index: 999;
    left: -6px;
}
.share-option {
    background: #fff none repeat scroll 0 0;
    border-radius: 23px;
    margin: 9px 0 0 52px;
    position: absolute;
    width: 0px;
    overflow: hidden;
    z-index: 9;
}
.share-option > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 110px;
}
.share-option li {
    display: inline-block;
    padding: 6px 5px;
    text-align: center;
    width: 52px;
    cursor: pointer;
}
.share-option li.active {
    background: #b3b3b3 none repeat scroll 0 0;
    color: #fff;
}
.message-box {
    height: 125px;
}
.link-block .files {
    max-height: 150px;
    overflow-y: scroll;
}
.message-box {
    font: 12px Gotham-medium;
    height: 125px;
    padding: 10px 0;
}
.password-block {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f9ab30;
    bottom: 51px;
    height: 0;
    left: 5px;
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    width: 94%;
}
.share-and-transfer .addpassword.active {
    color: #f9ab30;
}
.lightbox {
    
}
.lightbox-content {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    padding: 20px 30px 0;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    top: 15%;
    width: 350px;
    z-index: 9999;
    overflow: hidden;
}
.lightbox-content.feedback-pro {
    margin-left: -250px;
    width: 500px;
    top: 20%;
}

.feedback-pro .header {
    background: #fab44a none repeat scroll 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 21px 11px 5px;
}
.header .light-box-close {
    position: absolute;
    right: 11px;
    top: 10px;
}
.footer {
    background: #fab44a none repeat scroll 0 0;
    padding: 19px;
}
.pro-container .msg-box {
    color: #7e7e7e;
    padding: 23px;
}
.msg-box {
    line-height: 39px;
    padding: 0 286px;
    text-align: center;
}
.facebook-box {
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    color: #333333;
    float: left;
    left: 35%;
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 7px 14px;
    position: relative;
}


.facebook-box:hover {
    color: #fff;
}

.lightbox .light-box-close {
    text-align: right;
    cursor: pointer;
    margin: -15px -18px 12px 0px;
}
.lightbox .content img {
    margin: 10px 0 0 0;
    max-width: 100%;
}

.lightbox-overlay, .lightbox-feedback, .lightbox-overlay2 {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
#LoginButton {
    cursor: pointer;
}
.sign-in-text {
    font: 12px Gotham-Medium;
}
.small-login {
    font: 11px Arial;
}
#results {
    font: 11px gotham-medium;
    margin: 0;
}
.small > input {
    margin: 3px;
    padding: 2px;
    width: 96%;
}
.friend-email-scroll {
    max-height: 72px;
    overflow: hidden;
    position: relative;
}
.no-padding{
    padding:0;
}
.forms input {
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 28px;
    margin: 5px 0;
    padding: 0 12px;
    background: #f0eeee none repeat scroll 0 0;
}
.forms textarea {
    background: #f0eeee none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 150px;
    padding: 12px;
    width: 100%;
}
.forms input[type="submit"] {
    background: #fbb449 none repeat scroll 0 0;
    color: #fff;
    height: 34px;
    padding: 5px 20px;
}
#info_footer {
    background: transparent none repeat scroll 0 0;
    display: block;
    margin: 30px auto 45px;
    overflow: auto;
    padding: 0 0 0 40px;
    position: relative;
}
#info_footer ul {
    float: left;
    font-size: 12px;
    line-height: 22px;
    list-style: outside none none;
    padding: 0;
}
#info_footer h4 {
    color: #565a5e;
    cursor: default;
    font-family: MuseoSansRounded-700,sans-serif;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    position: relative;
}
#info_footer a:link, #info_footer a:visited, #info_footer a:active {
    border-bottom: 1px solid transparent;
    color: #919293;
    padding: 0;
    text-decoration: none;
    transition: all 0.25s linear 0s;
}
.facebook-box > a{
    color: #7e7e7e;
}
.facebook-box:hover {
    background: #3b5998 none repeat scroll 0 0;
    border: 1px solid #3b5998;
}
.facebook-box:hover > a{
    color: #fff;
}
.transfer-again {
    background: #f9ab30 none repeat scroll 0 0;
    bottom: 0;
    height: 46px;
    position: absolute;
    width: 151px;
}
.btn.transfer-again {
    background: #fff none repeat scroll 0 0;
    border-radius: 25px;
    color: #646769;
    cursor: pointer;
    height: 35px;
    margin: 7px 0 0;
    position: relative;
    width: 114px;
}
.btn.transfer-again:hover {
    background: #646769 none repeat scroll 0 0;
    color: #fff;
}


#smartbanner { position:absolute; left:0; top:-82px; border-bottom:1px solid #e8e8e8; width:100%; height:78px; font-family:'Helvetica Neue',sans-serif; background:-webkit-linear-gradient(top, #f4f4f4 0%,#cdcdcd 100%); background-image: -ms-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); background-image: -moz-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); box-shadow:0 1px 2px rgba(0,0,0,0.5); z-index:9998; -webkit-font-smoothing:antialiased; overflow:hidden; -webkit-text-size-adjust:none; }
#smartbanner, html.sb-animation {-webkit-transition: all .3s ease;}
#smartbanner .sb-container { margin: 0 auto; }
#smartbanner .sb-close { position:absolute; left:5px; top:5px; display:block; border:2px solid #fff; width:14px; height:14px; font-family:'ArialRoundedMTBold',Arial; font-size:15px; line-height:15px; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:14px; box-shadow:0 2px 3px rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }
#smartbanner .sb-close:active { font-size:13px; color:#aaa; }
#smartbanner .sb-icon { position:absolute; left:30px; top:10px; display:block; width:57px; height:57px; background:rgba(0,0,0,0.6); background-size:cover; border-radius:10px; box-shadow:0 1px 3px rgba(0,0,0,0.3); overflow: hidden;}
#smartbanner .sb-info { position:absolute; left:98px; top:18px; width:58%; font-size:11px; line-height:1.2em; font-weight:bold; color:#6a6a6a; text-shadow:0 1px 0 rgba(255,255,255,0.8); }
#smartbanner #smartbanner.no-icon .sb-info { left:34px; }
#smartbanner .sb-info strong { display:block; font-size:13px; color:#4d4d4d; line-height: 18px; }
#smartbanner .sb-info > span { display:block; }
#smartbanner .sb-info em { font-style:normal; text-transform:uppercase; }
#smartbanner .sb-button { position:absolute; right:20px; top:24px; border-radius:3px;}
#smartbanner .sb-button:active, #smartbanner .sb-button:hover { background:-webkit-linear-gradient(top, #dcdcdc 0%,#efefef 100%); }

#smartbanner .sb-icon.gloss:after { content:''; position:absolute; left:0; top:-1px; border-top:1px solid rgba(255,255,255,0.8); width:100%; height:50%; background:-webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); border-radius:10px 10px 12px 12px; }

#smartbanner.android { border-color:#212228; background: #3d3d3d url('../img/dark_background_stripes.gif'); box-shadow: none; }
#smartbanner.android .sb-close { border:0; width:17px; height:17px; line-height:17px; color:#b1b1b3; background:#1c1e21; text-shadow:0 1px 1px #000; box-shadow:0 1px 2px rgba(0,0,0,0.8) inset,0 1px 1px rgba(255,255,255,0.3); }
#smartbanner.android .sb-close:active { color:#eee; }
#smartbanner.android .sb-info { color:#ccc; text-shadow:0 1px 2px #000; }
#smartbanner.android .sb-info strong { color:#fff; }
#smartbanner.android .sb-button { background: #fff none repeat scroll 0 0;
    border-radius: 5px !important;
    color: #d1d1d1;
    font-size: 12px;
    line-height: 26px;
    margin: 0 0 0 -10px;
    min-height: 28px;
    min-width: 12%;
    padding: 1px;
    text-align: center;
    text-decoration: none;
}
#smartbanner.android .sb-button span { color: #d2186b; }
#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover { background: none; }
#smartbanner.android .sb-button:active span, #smartbanner.android .sb-button:hover span { background:#2AC7E1; }

#smartbanner.windows .sb-icon { border-radius: 0px; }

.coockie-accept {
    background: #ca800a none repeat scroll 0 0;
    bottom: 0;
    padding: 7px;
    position: fixed;
    width: 100%;
    z-index: 999;
    color: #fff;
}
.make-left {
    float: left;
}
.make-right {
    float: right;
    cursor: pointer;
}
.center {
    text-align: center;
}
.add-files-block {
    min-height: 46px;
}
.arrow-down {
    font-size: 48px;
    margin: 0 5px 0 0;
}
.transfer-done .info{
    font-size: 12px;
    margin: -9px 0 0;
}
.status.download {
    height: 310px !important;
}
.img-background{
    background: #F7AB31 url("../img/gurutransfer-error-page.jpg") no-repeat scroll 0 0 / cover ;
}
.background {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.friend-password-block.download {
    border: 1px solid #d1d1d2;
    margin: 4px 10px;
    padding: 0;
}
.friend-password-block.download input:focus {
    background: transparent;
}

/*  Nav bar design */
.menu {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 19px 0 6px;
  position: relative;
  width: 16px;
}

.nav .bars {
    position: absolute;
    right: 0;
    z-index: 1000;
    top:10px;
    right:10px;
}
.nav .bar {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  transition: all 0ms ease 300ms;
  height: 3px;
  width: 20px;
}

.nav .bar:after, .bar:before {
  height: 3px;
  width: 20px;
}

.nav .bar:before {
  background: #fff none repeat scroll 0 0;
  bottom: 7px;
  content: "";
  left: 0;
  position: absolute;
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1) 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.nav .bar:after {
  background: #fff none repeat scroll 0 0;
  content: "";
  left: 0;
  position: absolute;
  top: 7px;
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1) 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}


.nav .bar.animate:after {
  top: -4px;
  width: 13px;
  left: 10px;
  bottom: 7px;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 300ms;
}

.nav .bar.animate:before {
  top: 3px;
  bottom: 7px;
  width: 13px;
  left: 10px;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 300ms;
}

.darkDisabledBg {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  text-decoration: none;
  width: 100%;
  z-index: 999;
  top: 0;
}

.left-nav {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  right: -300px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0px;
  width: 300px;
  z-index: 1006;
}

.leftMenu {
  background: #fff none repeat scroll 0 0;
  width: 294px;
  list-style: outside none none;
   padding: 0;
   margin: 0;
}

.nav ul, .nav ul:last-of-type, .nav ul:last-of-type:hover, .nav li a {
  border-top: 1px solid #efefef;
}

li a {
  color: #686868;
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
}

/*  Nav bar design */

.banner {
    padding: 30px 0 10px;
    position: relative;
}
.title {
    color: #fff;
    font: bold 30px arial;
}
.small-desc {
    color: #fff;
    margin-top: 20px;
}
.store-logo {
    bottom: 0;
    left: 15px;
    position: absolute;
}
.store-logo > ul {
    list-style: outside none none;
    padding: 0;
}
.store-logo li {
    display: inline-block;
    position: relative;
}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic{
    text-align: center;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #f7b14b;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
    background-color: #f4dfc1;
    border-left: 2px solid #f7b14b;
    color: #f7b14b;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
  background: #fff;
  min-height: 460px;
}

.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.inbox-head {
    background: none repeat scroll 0 0 #F7B14B;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}
.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}
.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.downloadbox .lightbox-content {
    left: 25%;
    position: absolute;
    top: 10px;
    width: 75%;
    margin-left: 0;
    padding: 0;
}
.downloadbox.lightbox .light-box-close {
    margin: 5px 8px 12px 0;
}
.download-btn-panel {
    background: #f7b14b none repeat scroll 0 0;
    color: #fff;
    padding: 10px;
    text-align: right;
    margin-top: 40px;
}
.btn-download, .btn-download-with-password {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    float: right;
    padding: 5px 10px;
}
.btn-download a, .btn-download-with-password a{
    color: #000;
    text-transform:uppercase;
}
.pull-left.error {
    font-size: 12px;
    line-height: 31px;
    color: #b94a48;
    display: none;
}
.view-message a{
    color: #000;
}
.downloadbox .lightbox-overlay{
    opacity: 0.7;
}
.downloadbox .loader {
    padding-bottom: 40px;
}
.download-panel > .download-panel {
    max-height: 272px;
    overflow: scroll;
}
.passworddatablock {
    float: left;
}

.downloadpage .lightbox-content {
    left: 30% !important;
    position: absolute;
    top: 10px;
    width: 50%;
    margin-left: 0;
    padding: 0;
    border: 1px solid #f9ab30;
    z-index: 9999;
}
.downloadpage.lightbox .light-box-close {
    margin: 5px 8px 12px 0;
}
.downloadpage .lightbox-overlay{
    display: none;
}
.downloadpage .loader {
    padding-bottom: 40px;
}
.downloadpage .download-btn-panel{
    background: #f9ab30 none repeat scroll 0 0;    
}

.downloadpage .light-box-close{
    opacity: 0;
    visibility: hidden;
}
.terms label{
    opacity: .6;
    font-weight: normal;
    font-size: 12px;
}


.business-comparison-matrix--standard {
    border: 1px solid #72b6ec;
    border-collapse: collapse;
    margin: 0 auto 60px;
}
.business-comparison-matrix--standard .tooltip-container {
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.business-comparison-matrix--standard .tooltip-container-icon {
    background: #72b6ec none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    font-style: italic;
    height: 15px;
    letter-spacing: 2px;
    line-height: 13px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    text-align: center;
    top: -8px;
    vertical-align: middle;
    width: 15px;
}
.business-comparison-matrix--standard .tooltip-container-content {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: none;
    font-size: 12px;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 0;
    transform: translate(30px, -15px);
    z-index: 999;
}
.business-comparison-matrix--standard .tooltip-container-content:hover {
    display: block;
}
.business-comparison-matrix--standard .tooltip-container:hover .tooltip-container-content {
    display: block;
}
.business-comparison-matrix--standard thead, .business-comparison-matrix--standard tbody {
    border-bottom: 1px solid #72b6ec;
    border-top: 1px solid #72b6ec;
}
.business-comparison-matrix--standard .button-primary.button-big, .business-comparison-matrix--standard .button-secondary.button-big {
    border-radius: 3px;
    border-width: 1px;
    font-size: 14px;
}
.business-comparison-matrix--standard .column--active {
    background-color: #f6f9fc;
}
.business-comparison-matrix--standard .business-comparison-matrix__td {
    border-left: 1px solid #72b6ec;
    border-right: 1px solid #72b6ec;
    min-height: 36px;
    padding: 10px;
    position: relative;
}
.business-comparison-matrix--standard .column--index {
    padding-left: 25px;
    padding-right: 25px;
    text-align: right;
}
.business-comparison-matrix--standard .column--dfb, .business-comparison-matrix--standard .column--pro {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.business-comparison-matrix--standard > thead > tr:first-child > td {
    padding-top: 20px;
}
.business-comparison-matrix--plans-comparison {
    border-collapse: separate;
    border-radius: 6px;
    width: 100%;
}
.business-comparison-matrix--plans-comparison td {
    border-left: 1px solid #d0d4d9;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}
.business-comparison-matrix--plans-comparison td:first-child {
    padding: 0;
    text-align: left;
}
.business-comparison-matrix--plans-comparison td:last-child {
    border-right: 1px solid #d0d4d9;
}
.business-comparison-matrix--plans-comparison td.business-comparison-breakdown__header {
    font-weight: 600;
}
.business-comparison-matrix--plans-comparison td.column--active {
    background-color: #f4faff;
}
.business-comparison-matrix--plans-comparison td .sprite {
    vertical-align: middle;
}
.business-comparison-matrix--plans-comparison thead tr:first-child td.column--active {
    background-color: #fff;
}
.business-comparison-matrix--plans-comparison thead td {
    line-height: 20px;
    vertical-align: top;
}
.business-comparison-matrix--plans-comparison thead tr:first-child td {
    border-top: 1px solid #d0d4d9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 40px;
    vertical-align: middle;
}
.business-comparison-matrix--plans-comparison thead tr:first-child td:first-child {
    border-left: medium none;
    border-top: medium none;
}
.business-comparison-matrix--plans-comparison thead tr:nth-child(2) td {
    border-top: 1px solid #d0d4d9;
    font-weight: 600;
    padding-top: 32px;
}
.business-comparison-matrix--plans-comparison thead tr:nth-child(2) td:first-child {
    border-top-left-radius: 6px;
}
.business-comparison-matrix--plans-comparison tbody td {
    height: 40px;
    line-height: 18px;
    padding: 2px 10px;
}
.business-comparison-matrix--plans-comparison tbody td:first-child {
    padding: 10px 20px;
}
.business-comparison-matrix--plans-comparison tfoot tr:last-child td {
    border-bottom: 1px solid #d0d4d9;
    vertical-align: top;
}
.business-comparison-matrix--plans-comparison tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
.business-comparison-matrix--plans-comparison tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
.business-comparison-matrix--plans-comparison tbody td, .business-comparison-matrix--plans-comparison tfoot td {
    border-top: 1px solid #e8e8e8;
}
.business-comparison-matrix--plans-comparison.sticky thead td {
    background-color: #fff;
}
.business-comparison-matrix--plans-comparison.sticky thead tr:first-child td {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.business-comparison-matrix--plans-comparison.sticky thead tr:last-child td {
    border-bottom: 1px solid #d0d4d9;
}
.business-comparison-matrix--plans-comparison .button-primary, .business-comparison-matrix--plans-comparison .button-secondary {
    margin: 10px 0;
    width: 143px;
}
.business-comparison-matrix--plans-comparison .button-primary:disabled, .business-comparison-matrix--plans-comparison .button-primary.disabled {
    background: #f2f2f2 none repeat scroll 0 0 !important;
    border-color: #d0d4d9 !important;
    color: #d0d4d9 !important;
    opacity: 1 !important;
}

/*============================================================
Pricing BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #efedee;
}

.db-bk-color-two {
    background-color: #efedee;
}

.db-bk-color-three {
    background-color: #efedee;
}

.db-bk-color-six {
    background-color: #efedee;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #878586;
    line-height: 30px;
    border-radius: 15px;
    overflow: hidden;
}

.db-pricing-eleven .free-plan{
    background: rgba(0, 0, 0, 0) url("../img/free.png") no-repeat scroll 0 0 / 100% auto;
}
.db-pricing-eleven .paid-plan{
    background: rgba(0, 0, 0, 0) url("../img/paid.png") no-repeat scroll -5px 0 / 102% auto;
}
.db-pricing-eleven .paid-plan2{
    background: rgba(0, 0, 0, 0) url("../img/paid2.png") no-repeat scroll 0 -2px/ 102% auto;
}
.db-pricing-eleven .plan {
    padding-bottom: 150px;
}
.db-pricing-eleven .free-plan .price {
    padding-bottom: 10px;
}
.db-pricing-eleven ul.ullist li{
    margin: 0 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d6d6d6;
    text-align: left;
}
.db-pricing-eleven ul.ullist li i{
    color: #F89520;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        padding: 40px 20px 0px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #fff;
            display: block;
            font-size: 20px;
            margin-top: 22px;
        }


        .db-pricing-eleven.popular .big-plan .price {
            padding: 30px 20px 0;
        }
        .db-pricing-eleven.popular .big-plan .price .sub-head {
            font-size: 29px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            margin-bottom: 10px;
        }
        .paid-plan sup {
            top: -0.3em;
        }
        .db-pricing-eleven ul.list-inline li {
            display: inline-block;
            margin-left: -12px;
        }
        .btn.btn-pricing {
            background: #393a3c none repeat scroll 0 0;
            border-radius: 0;
            color: #fff;
            padding: 4px 20px;
        }
    .db-pricing-eleven .type {
        color: #fff;
        font-size: 30px;
        font-weight: 900;
        padding: 10px 0;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }







/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
.pro-form {
    padding-top: 40px;
}
.list-inline.social-share {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    width: 100%;
}
.list-inline.social-share > li {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
}

.list-inline.social-share > li.facebook {
    background: #3d5b96 none repeat scroll 0 0;
    border-color: #3d5b96;
}
.list-inline.social-share > li.facebook:hover{
    background: #2d4373 none repeat scroll 0 0;
    border-color: #2d4373;   
}
.list-inline.social-share > li.twitter {
    background: #3399CC none repeat scroll 0 0;
    border-color: #3399CC;
}
.list-inline.social-share > li.twitter:hover {
    background: #2795e9 none repeat scroll 0 0;
    border-color: #2795e9;
}
.list-inline.social-share > li.facebook a, .list-inline.social-share > li.twitter a{
    color: #fff
}
.transfer-list {
    height: 170px;
    overflow: hidden;
}
.transfer-list td {
    font-size: 12px;
    text-align: left;
    padding: 5px;
}
.transfer-list-link{
    color: #000;
}
.firstnot .sharepage ul {
    margin: 48px 0;
}
.passworddatablock label {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
.checkout-form{

}
.checkout-form .section-block{
    padding: 20px 20px 60px 20px;
    background: #efeded;
    margin: 10px;
}
.checkout-form  .section-heading {
    font: bold 14px Gotham-Book;
}
.checkout-form .form-group{
    margin-bottom: 8px;
}
.checkout-form .form-control {
    padding: 4px 12px;
    height: auto;
    border-radius: 0;
    box-shadow: 0 0 0 0;
}

.checkout-form input[type=radio]{
   display: none;
 }
.checkout-form .list-inline {
    padding: 0;
}
.checkout-form ul.list-inline li {
    list-style: none;
    display: inline-block;
    width: 49.5%;
}
 .checkout-form input[type="radio"]:checked + label {
   background: url('../img/tick-select1.png') no-repeat 10px 10px #f9aa3e;
   color: #fff;
 }
.checkout-form .price {
    font-size: 32px;
    line-height: 32px;
}
.checkout-form .time {
    font-size: 14px;
    margin: 7px 0;
}
.checkout-form .labelsave {
    font-size: 11px;
}
.checkout-form .pricing-block label {
   display: block;
   background: url('../img/tick-select2.png') no-repeat 10px 10px #fff;
   appearance: button;
   -webkit-appearance: button;
   -moz-appearance: button;
   -ms-appearance: button;
   padding: 17px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
   font-family: gotham-book;
   color: #f9aa3e;
}

.checkout-form label a{
    color: #f9aa3e;   
}
.checkout-form  .btn.btn-default{
    background: #f9aa3e;
    border: none;
    color: #fff;
    border-radius: 0;
}




.login-container .social-btn > button {
    border: medium none;
    border-radius: 0;
    font-size: 0.9em;
    line-height: 20px;
    position: relative;
    width: 100%;
    margin-bottom:30px;
}
.login-container .social-btn > button span {
    font-size: 1.7em;
    left: 27px;
    position: absolute;
    top: 30%;
}
.forgot-block-link {
    padding-top: 10px;
}
.btn-facebook button{
    background: #4a7cd9 none repeat scroll 0 0;
    color: #fff;
    padding: 15px 50px;
}
.btn-google button{
    background: #fff none repeat scroll 0 0;
    color: #000;
    padding: 13px 77px;
    margin-top: 14px;
}
.login-container .social-btn.btn-google > button{
    border: 1px solid #000;
}
.login-container .social-btn.btn-google{
    padding-bottom: 54px;
}
.login-container .close-video{
    display: none;
}
.sign-in-block, .sign-up-block {    
    width: 100%;
}
.box-title {
    padding-bottom: 9px;
}
.inputbox input {
    margin-bottom: 14px;
    padding: 8px;
    width: 100%;
}
.btn.btn-danger.btn-login {
    background: #f9aa3e none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 0.9em;
    margin-top: 5px;
    padding: 14px 0 14px;
    width: 100%;
}
.footer-label {
    background: #f5f5f5 none repeat scroll 0 0;
    margin: 20px -50px 0;
    padding: 22px 50px;
}
.link{
    color: #f9aa3e;
}
.forgot-block {
    padding: 16px 0;
    font-size: 0.9em;
}
.forgot-block input[type="checkbox"] + label {
    padding: 0 5px;
    font-weight: normal;
}
.move-block {
    font-size: .9em;
}
.terms-line {
    color: #c4c4c4;
    font-size: 0.8em;
    padding-top: 5px;
}
.inputbox .help-block {
    font-size: 0.9em;
    margin-top: -10px;
}
.alert.alert-danger.box-error {
    background: #ffd3d3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fa3756;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: -47px;
    width: 100%;
}
.forgot-block{
    margin-bottom: 100px;
}
.forgot-text{
    margin-top: 50px;
    margin-bottom: 10px;
}
.forgot-back-arrow{
    cursor: pointer;
}

.resetpassword-main{
    padding: 3em;
    margin-top: 50px;
}

.resetpassword-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

.divLabel {
    color: #f9aa3e;
    margin: -3px 0px 24px 0px;
}

