@font-face {
    font-family: "Gotham-Black";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Book";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Medium";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Thin";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Thin.woff") format("woff"), url("../fonts/Gotham-Thin.ttf") format("truetype"), url("../fonts/Gotham-Thin.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Ultra";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Ultra.woff") format("woff"), url("../fonts/Gotham-Ultra.ttf") format("truetype"), url("../fonts/Gotham-Ultra.svg") format("svg");
}

body{
	background: url('../img/background.png');
	height: 100%;
	width: 100%;
}
.gurutransfer{
    position: absolute;
    width: 157px;
    left: 4%;
    z-index: 999;
    top:25px;
}
.navbar-fixed-top, .navbar-fixed-bottom{
    z-index: 9;
}
.overlay {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.75;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.gurutransfer .header {
    background: rgba(0, 0, 0, 0) url("../img/gurubackground.png") repeat scroll 0 0;
    height: 220px;
    width: 157px;
}
.gurutransfer .transferbody {
    background: #f9ab30 none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    padding: 0 5px;
}
.upload-panel {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    padding: 2px 8px;
    width: 100%;
}
.gurutransfer h2 {
    font: 15px gotham-bold;
    margin: 9px 0;
    text-align: center;
}
.button ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}
.add-files-block .button ul > li {
    float: left;
    font: 11px Gotham-Bold;
}
.add-files-block, .friend-email-block, .my-email-block {
    border-bottom: 1px solid #d1d1d2;
    padding: 8px 0;
}
.friend-email-block input, .my-email-block input{
	border: medium none;
	width: 100%;
    padding: 0 7px;
    outline: none;
}
.message textarea {
    border: medium none;
    height: 60px;
    margin: 8px 0 0;
    padding: 3px 0 0 8px;
    width: 100%;
    resize: none;
    outline: none;
}
.share-and-transfer {
    padding: 0 0 10px;
}
.share-and-transfer .share {
    background: #fff url("../img/button-app-icon-share.png") repeat scroll 0 0;
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 0;
    width: 32px;
    float: left;
    cursor: pointer;
}
.share-and-transfer .info {
	background: #fff url("../img/button-app-icon-help.png") repeat scroll 0 0;
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 0;
    width: 32px;	
    float: left;
    cursor: pointer;
}
.share-and-transfer .transfer {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    color: #646769;
    float: left;
    font-size: 11px;
    line-height: 31px;
    margin: 9px 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 49%;
    border:none;
    float: left;
    height: 32px;
}
.status {
    background: #fff none repeat scroll 0 0;
    position: absolute;
    text-align: center;
    top: 218px;
    width: 157px;
    z-index: 99;
    border-radius: 0 0 5px 5px;
    border: 3px solid #f9ab30;
    min-height: 259px;
}
.status .c100 {
    left: 14px;
    margin-top: 36px;
}
.transfer-done .transfer {
    font: 15px gotham-bold;
}
.transfer-done .small {
    color: #acacac;
    font: 11px gotham-book;
    margin: 5px 0;
}
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    background-color: #464850;
    height: 36px;
    left: 15px;
    position: absolute;
    top: -9px;
    width: 7px;
}

.checkmark_kick {
    background-color: #464850;
    height: 7px;
    left: -1px;
    position: absolute;
    top: 26px;
    width: 23px;
}
.upload-wrap-btn-Change {
    border-radius: 17px;
    overflow: hidden;
    padding: 8px 10px 4px;
    position: relative;
    cursor: pointer;
}
.upload-wrap-btn-Change > input {
    cursor: pointer;
    height: 27px;
    margin: 0 0 0 -10px;
    opacity: 0;
    position: absolute;
    top: 0;
}
.c100 > span.loading{
	display: block;
}
.c100 > span.tickmark{
	display: none;
}
.button ul.files > li {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    font: 12px/21px gotham-book;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    position: relative;
    padding: 0 18px 0 0;
}
#info_panel::after, #error_panel::after, #tip_panel::after {
    background: transparent url("../img/info-panel-pointer.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 19px;
    left: -11px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 11px;
}
#info_panel, #error_panel, #tip_panel {
    background: #46494e none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: gotham-book;
    left: 219px;
    padding: 25px 15px 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 138px;
    z-index: 2;
}
.bigImages ul {
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.bigImages img {
    max-height: 100%;
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #fff;
    border: 1px solid #a1a1a1;
    color: #000;
}
.navbar-nav > li > a {
    border-radius: 33px;
    padding-bottom: 10px;
    padding-top: 9px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    margin-top: 20px;
}
.navbar-nav > li {
    background: #fff none repeat scroll 0 0;
    border-radius: 33px;
    margin: 0 0 0 15px;
    opacity: 0.8;
}
.content.row {
    background: #d3d3d3 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 20px;
}
.bigImages li{
    margin-top: -21px;
}
.slider {
    height: 100%;
    position: absolute;
    width: 100%;
}
.files {
    max-height: 61px;
    position: relative;
}
.friend-email-block input:focus, .my-email-block input:focus, .message textarea:focus {
    background: #ccc none repeat scroll 0 0;
    border-radius: 10px;
}
.closeli {
    position: absolute;
    right: 8px;
    top: -6px;
    cursor: pointer;
}
.add-files-block {
    margin: 0;
    padding: 0 0 8px;
}
.btn.btn-warning {
    border: medium none;
    border-radius: 16px;
    color: #000;
    font: 12px gotham;
    padding: 5px;
    margin: 5px 0 0;
}
.add_more_email > input {
    margin: 2px 0;
}
.share-and-transfer .transfer:hover {
    background: #646769 none repeat scroll 0 0;
    color: #fff;
}
.plus-panel {
    left: -62px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: -9;
}
.plus-panel .panel2.panelp {
    border: 1px solid #8d8f8f;
    margin: -73px 0 0 -18px;
    padding: 0 7px 0 21px;
    border-bottom: none;
}
.plus-panel .panelp {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 11px 11px 0 0;
    color: #8e8c8c;
    float: left;
    margin: 0;
    padding: 0 10px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.plus-panel .panel1.panelp {
    background: #b3b3b3 none repeat scroll 0 0;
    color: #fff;
    margin: 35px 0 0;
}
span.button_area_new{
    font: 11px Gotham-Bold;
    text-transform: uppercase;
}
.btn.btn-warning {
    font: 11px Gotham-Medium;
}
.overlay-data {
    position: absolute;
    z-index: 999;
    left: -6px;
}
.share-option {
    background: #fff none repeat scroll 0 0;
    border-radius: 23px;
    margin: 8px 0 0 37px;
    position: absolute;
    width: 0px;
    overflow: hidden;
}
.share-option > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 110px;
}
.share-option li {
    display: inline-block;
    padding: 6px 5px;
    text-align: center;
    width: 53px;
    cursor: pointer;
}
.share-option li.active {
    background: #b3b3b3 none repeat scroll 0 0;
    color: #fff;
}
.message-box {
    height: 125px;
}
.link-block .files {
    max-height: 150px;
    overflow-y: scroll;
}
.message-box {
    font: 12px Gotham-medium;
    height: 125px;
    padding: 10px 0;
}

.lightbox {
    
}
.lightbox-content {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    padding: 10px;
    left: 50%;
    margin-left: -135px;
    position: fixed;
    top: 40%;
    width: 272px;
    z-index: 9999;
    overflow: hidden;
}
.lightbox-content.feedback-pro {
    margin-left: -250px;
    width: 500px;
    top: 20%;
}

.feedback-pro .header {
    background: #fab44a none repeat scroll 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 21px 11px 5px;
}
.header .light-box-close {
    position: absolute;
    right: 11px;
    top: 10px;
}
.footer {
    background: #fab44a none repeat scroll 0 0;
    padding: 19px;
}
.pro-container .msg-box {
    color: #7e7e7e;
    padding: 23px;
}
.msg-box {
    line-height: 39px;
    padding: 0 286px;
    text-align: center;
}
.facebook-box {
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    color: #333333;
    float: left;
    left: 35%;
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 7px 14px;
    position: relative;
}


.facebook-box:hover {
    color: #fff;
}

.lightbox .light-box-close {
    text-align: right;
    cursor: pointer;
    margin: -9px -5px 12px 0px;
}
.lightbox .content img {
    margin: 10px 0 0 0;
    max-width: 100%;
}

.lightbox-overlay, .lightbox-feedback {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
#LoginButton {
    cursor: pointer;
}
.sign-in-text {
    font: 12px Gotham-Medium;
}
.small-login {
    font: 11px Arial;
}
#results {
    font: 11px gotham-medium;
    margin: 0;
}
.small > input {
    margin: 3px;
    padding: 2px;
    width: 96%;
}
.friend-email-scroll {
    max-height: 72px;
    overflow: hidden;
    position: relative;
}
.no-padding{
    padding:0;
}
.forms input {
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 28px;
    margin: 5px 0;
    padding: 0 12px;
}
.forms textarea {
    border: medium none;
    border-radius: 11px;
    height: 200px;
    padding: 12px;
    width: 100%;
}
.forms input[type="submit"] {
    background: #fbb449 none repeat scroll 0 0;
    color: #fff;
    height: 34px;
    padding: 5px 20px;
}
#info_footer {
    background: transparent none repeat scroll 0 0;
    display: block;
    margin: 30px auto 45px;
    overflow: auto;
    padding: 0 0 0 40px;
    position: relative;
}
#info_footer ul {
    float: left;
    font-size: 12px;
    line-height: 22px;
    list-style: outside none none;
    padding: 0;
}
#info_footer h4 {
    color: #565a5e;
    cursor: default;
    font-family: MuseoSansRounded-700,sans-serif;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    position: relative;
}
#info_footer a:link, #info_footer a:visited, #info_footer a:active {
    border-bottom: 1px solid transparent;
    color: #919293;
    padding: 0;
    text-decoration: none;
    transition: all 0.25s linear 0s;
}
.facebook-box > a{
    color: #7e7e7e;
}
.facebook-box:hover {
    background: #3b5998 none repeat scroll 0 0;
    border: 1px solid #3b5998;
}
.facebook-box:hover > a{
    color: #fff;
}
.transfer-again {
    background: #f9ab30 none repeat scroll 0 0;
    bottom: 0;
    height: 46px;
    position: absolute;
    width: 151px;
}
.btn.transfer-again {
    background: #fff none repeat scroll 0 0;
    border-radius: 25px;
    color: #646769;
    cursor: pointer;
    height: 35px;
    margin: 7px 0 0;
    position: relative;
    width: 114px;
}
.btn.transfer-again:hover {
    background: #646769 none repeat scroll 0 0;
    color: #fff;
}


#smartbanner { position:absolute; left:0; top:-82px; border-bottom:1px solid #e8e8e8; width:100%; height:78px; font-family:'Helvetica Neue',sans-serif; background:-webkit-linear-gradient(top, #f4f4f4 0%,#cdcdcd 100%); background-image: -ms-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); background-image: -moz-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); box-shadow:0 1px 2px rgba(0,0,0,0.5); z-index:9998; -webkit-font-smoothing:antialiased; overflow:hidden; -webkit-text-size-adjust:none; }
#smartbanner, html.sb-animation {-webkit-transition: all .3s ease;}
#smartbanner .sb-container { margin: 0 auto; }
#smartbanner .sb-close { position:absolute; left:5px; top:5px; display:block; border:2px solid #fff; width:14px; height:14px; font-family:'ArialRoundedMTBold',Arial; font-size:15px; line-height:15px; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:14px; box-shadow:0 2px 3px rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }
#smartbanner .sb-close:active { font-size:13px; color:#aaa; }
#smartbanner .sb-icon { position:absolute; left:30px; top:10px; display:block; width:57px; height:57px; background:rgba(0,0,0,0.6); background-size:cover; border-radius:10px; box-shadow:0 1px 3px rgba(0,0,0,0.3); overflow: hidden;}
#smartbanner .sb-info { position:absolute; left:98px; top:18px; width:58%; font-size:11px; line-height:1.2em; font-weight:bold; color:#6a6a6a; text-shadow:0 1px 0 rgba(255,255,255,0.8); }
#smartbanner #smartbanner.no-icon .sb-info { left:34px; }
#smartbanner .sb-info strong { display:block; font-size:13px; color:#4d4d4d; line-height: 18px; }
#smartbanner .sb-info > span { display:block; }
#smartbanner .sb-info em { font-style:normal; text-transform:uppercase; }
#smartbanner .sb-button { position:absolute; right:20px; top:24px; border-radius:3px;}
#smartbanner .sb-button:active, #smartbanner .sb-button:hover { background:-webkit-linear-gradient(top, #dcdcdc 0%,#efefef 100%); }

#smartbanner .sb-icon.gloss:after { content:''; position:absolute; left:0; top:-1px; border-top:1px solid rgba(255,255,255,0.8); width:100%; height:50%; background:-webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); border-radius:10px 10px 12px 12px; }

#smartbanner.android { border-color:#212228; background: #3d3d3d url('../img/dark_background_stripes.gif'); box-shadow: none; }
#smartbanner.android .sb-close { border:0; width:17px; height:17px; line-height:17px; color:#b1b1b3; background:#1c1e21; text-shadow:0 1px 1px #000; box-shadow:0 1px 2px rgba(0,0,0,0.8) inset,0 1px 1px rgba(255,255,255,0.3); }
#smartbanner.android .sb-close:active { color:#eee; }
#smartbanner.android .sb-info { color:#ccc; text-shadow:0 1px 2px #000; }
#smartbanner.android .sb-info strong { color:#fff; }
#smartbanner.android .sb-button { background: #fff none repeat scroll 0 0;
    border-radius: 5px !important;
    color: #d1d1d1;
    font-size: 12px;
    line-height: 26px;
    margin: 0 0 0 -10px;
    min-height: 28px;
    min-width: 12%;
    padding: 1px;
    text-align: center;
    text-decoration: none;
}
#smartbanner.android .sb-button span { color: #d2186b; }
#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover { background: none; }
#smartbanner.android .sb-button:active span, #smartbanner.android .sb-button:hover span { background:#2AC7E1; }

#smartbanner.windows .sb-icon { border-radius: 0px; }

.coockie-accept {
    background: #ca800a none repeat scroll 0 0;
    bottom: 0;
    padding: 7px;
    position: fixed;
    width: 100%;
    z-index: 999;
    color: #fff;
}
.make-left {
    float: left;
}
.make-right {
    float: right;
    cursor: pointer;
}
.center {
    text-align: center;
}
.add-files-block {
    min-height: 46px;
}