/**
=================================
LARGE DESKTOP > 1200px
=================================
**/
@media (min-width: 1200px) {
	
}


/**
=================================
COMMON DESKTOP > 992px
=================================
**/
@media (min-width: 992px) {
	
}





/**
=================================
STANDARD DESKTOP 992px <> 1200px
=================================
**/
@media (min-width: 992px) and (max-width: 1199px) {
	
}





/**
=================================
STANDARD DESKTOP < 1024px
=================================
**/
@media (max-width: 1023px) {
	
}





/**
=================================
SMALL DESKTOP 768px <> 991px
=================================
**/
@media (min-width: 768px) and (max-width: 991px) {
	
}


/**
=================================
SMALL DESKTOP 480px <> 600px
=================================
**/
@media (min-width: 480px) and (max-width: 600px) {
	
}



/**
=================================
TABLET < 767px
=================================
**/
@media (max-width: 767px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    background: #fff none repeat scroll 0 0;
	    margin: 0px;
	    position: absolute;
    	width: 92%;
	}
	.navbar-fixed-top, .navbar-fixed-bottom{
		z-index: 1000;
	}
	.msg-box {
	    padding: 0;
	}
	.facebook-box {
		left: 20%;
	}
}




/**
=================================
PHONE < 640px
=================================
**/
@media (max-width: 640px){
	
}




/**
=================================
PHONE < 600px
=================================
**/
@media (max-width: 600px){
	
}



/**
=================================
PHONE < 548px
=================================
**/
@media (max-width: 548px){
	
}



/**
=================================
PHONE < 480px
=================================
**/
@media (max-width: 480px){
	.gurutransfer{
		top:4% !important;
	}	
}

/**
=================================
PHONE < 420px
=================================
**/
@media (max-width: 420px){
	
}

/**
=================================
IPHONE 6 PLUS
=================================
**/

@media (width: 736px) {
	
}

@media (width: 414px) {
	
}

/**
=================================
IPHONE 6
=================================
**/
@media (width: 667px) {
	
}

@media (width: 375px) {
	
}


/**
=================================
PHONE < 360px
=================================
**/
@media (max-width: 360px){
	
}

/**
=================================
PHONE < 320px
=================================
**/
@media (max-width: 320px){
	
}